PicoBlaze_VHDL/_xmsgs/*
PicoBlaze_VHDL/xst/*
PicoBlaze_VHDL/picoblaze_top_level_xst.xrpt
PicoBlaze_VHDL/picoblaze_top_level.cmd_log
PicoBlaze_VHDL/picoblaze_top_level.ngc
PicoBlaze_VHDL/picoblaze_top_level.stx
PicoBlaze_VHDL/picoblaze_top_level_envsettings.html
PicoBlaze_VHDL/picoblaze_top_level.syr
PicoBlaze_VHDL/picoblaze_top_level_vhdl.prj
PicoBlaze_VHDL/webtalk_pn.xml
PicoBlaze_VHDL/picoblaze_top_level.xst
PicoBlaze_VHDL/picoblaze_top_level_summary.html
PicoBlaze_VHDL/picoblaze_top_level.ngr
PicoBlaze_VHDL/picoblaze_top_level.lso
PicoBlaze_VHDL/picoblaze_top_level.prj